// Hero
.hero-banner {
  height: 100vh;

  .hero-content {
    margin-top: 100px;
    margin-left: 50px;

    h1 {
      font-size: 5rem;
    }
  }
  .btn-large {
    opacity: 0.8;
  }
}

#portrait {
  height: 150px;
}

.contact,
.about-me {
  text-align: center;
  width: 100%;
}

.contact i {
  margin-right: 10px;
}
