.container {
  width: 100% !important;
  margin: 0 !important;
  max-width: none !important;
}

.section {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 10px !important;
}

.p-0 {
  padding: 0px !important;
}

.primary-color {
  background-color: #fff74e !important;
}

.primary-text {
  color: #cc5854 !important;
}

.secondary-color {
  background-color: #cc5854 !important;
}

.secondary-text {
  color: #401713 !important;
}
